<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naimsplanet.buddychat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/buddychat_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".activity.BuddyChat">

        <service
            android:name=".service.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StartActivity" />
        <activity
            android:name=".authentication.RegisterActivity"
            android:parentActivityName=".activity.StartActivity" />
        <activity
            android:name=".authentication.LoginActivity"
            android:parentActivityName=".activity.StartActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity
            android:name=".activity.StatusActivity"
            android:parentActivityName=".activity.SettingsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.UsersActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.ProfileActivity">
            <intent-filter>
                <action android:name ="com.naimsplanet.buddychat_TARGET_NOTIFICATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


    </application>

</manifest>